<!DOCTYPE html>

<html ng-app="example">

<head>

<title>Animal Search</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-touch.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="saarang_searchbar.css">

<script src="saarang_searchbar.js"></script>

</head>

<body id="body" ng-controller="control">
<div id="buttons" class="container-fluid">
<button type="button" id="home" onclick="location.href='index.html'" class="btn btn-dark">Home</button>
<button type="button" id="edit" class="btn btn-dark">Edit</button>
<button type="button" id="contact" class="btn btn-dark" >Contact</button>
</div>

<div class="container"  id="heading"  style="color:Blue">

<p id='t' >Animal Search </p>

</div>

<form id="main" >

<input type="submit" id="sub" class="btn btn-info" value="Submit"  ng-click="showdetails()" >

<div id="search" class="container">

<input type="text" id="value"  value="animal" ng-model="animal" ng-keyup=suggest($event,animal) class="form-control" placeholder="Type an Animal">

</form>

<ul class="list-group" ng-model="showornot" ng-hide="showornot" >

<li class="list-group-item" ng-repeat="n in suggestions" ng-click="autocomplete(n)" id="suggestions" ><a onmouseover="style.color='red'" onmouseout="style.color='black'" id="vis">{{n}}</a></li>

</ul>

</div>

<div id="result" >

<p id="bio"> </p>

 </div>

</body>

</html>
