#search{
margin-top: 200px;
width: 500px ;
height: 10px;
text-align: center;
}
#body{
background-image: url('https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
background-size: 1570px;

}
#buttons{

border-radius: 5px;
height: 35px;
}

#home{
background-color: red;

}
#edit{
background-color: green;
}
#contact{
  background-color: lightblue;
}
#vis{
cursor: pointer;
color: black;
  }
#t{
  font-family: cursive;
  font-style: italic;
text-align: center;
font-size: 90px;
}
#heading{
  margin-top: 70px;
  height: 10px;
}

#suggestions{
font-weight: bolder;
}


#sub{
  font-family: cursive;
  position: relative;
top: 235px;
left: 1050px;
}


#value{
width:100%;
overflow: hidden;
}
