<!DOCTYPE html>
<html>

<head>
<title>Saarang Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="formvalidation.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</head>

  <body ng-app class="body">

<div class="navbar navbar-expand-sm bg-dark navbar-dark " id="navigation" style="background-color: blue;">

 <a class="navbar-brand" href="formvalidation.html"><h2>Reset</h2></a>



</div>
<br><br>

<div class="container" id="mainform" style="width: 800px;">


<div class="card">
  
<h3 class="card-header">Contact Form</h3>


  <div class="card-body">
<form  class="form" name="person" novalidate>
	

    <div class="form-group" >
      
      <div class="col-sm-5">
        
        <label><b>Select an Event:</b></label>  


        <select class="form-control" ng-model="event" name="event" ng-required="true">
          
          <option id="e1"><b>Event 1</b></option>
          
          <option id="e2"><b>Event 2</b></option>
          
          <option id="e3"><b>Event 3</b></option>
          
          <option id="e4"><b>Event 4</b></option>

        </select>

        <small ng-show="person.event.touched && person.event.$invalid" id="err">*Please select a proper event</small>


      </div>

    </div>



    <div class="form-group" id="name">

      <div class="col-sm-5">
    	   
        <label ><b>Name:</b></label>

        <input  class="form-control" placeholder="Type your name" ng-model="name" name="name" type="text" ng-pattern="fullname" ng-required="true">

        <small  ng-show="person.name.$touched && person.name.$invalid" id="err">*Please type your name</small>

      </div>

    </div>


    <div class="form-group" id="email" >
        
        <div class="col-sm-5">
    
            <label><b>Email:</b></label>
  
            <input  type="email" class="form-control "  placeholder="Type your email" name="email" ng-required="true" ng-pattern="electronicmail" ng-model="email">

            <small ng-show="person.email.$touched && person.email.$invalid" id="err">*Please type a valid e-mail id</small>

   
	       </div>

    </div>

    <div class="form-group" id="phonenumber">
      
        <div class="col-sm-5">

            <label> <b>Enter the Phone Number:</b></label>

            <input  class="form-control"  placeholder="Type your Phone NUmber" name="phonenumber" ng-model="phonenumber" ng-pattern="mobilenumber" ng-required="true">
            <small ng-show="person.phonenumber.$touched && person.phonenumber.$invalid" id="err">Please enter a Valid Mobile Number</small>


        </div>





    </div>

</form>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- <script src="p5.min.js"></script>
<script src="evolution.js"></script>
    <script src="evolsteering.js"></script>
 -->
<script src="formvalidation.js"></script>

  </body>


</html>
